/* Hide Sidebar header */

#sidebar-header {
	visibility: collapse !important;
}

/* Hide Personnal toolbar */

#PersonalToolbar {
	visibility: collapse !important;
}

/* Hide Navigation Bar */

#TabsToolbar {
	visibility: collapse !important;
}

#navigator-toolbox {
	display: block !important;
	position: absolute !important;
	bottom: 0px !important;
	z-index: 9999 !important;
	width: 100vw !important;
	margin-bottom: -38px !important;
	transition: margin-top 0.5s;
}

/* Hide Search Switcher */
#urlbar-searchmode-switcher {
	#urlbar:not([unifiedsearchbutton-available])>.urlbar-input-container>& {
		display: none !important;
	}
}

#navigator-toolbox:hover,
#navigator-toolbox:focus-within {
	margin-bottom: 0px !important;
	transition: margin-top 0.5s;
}

/* Hide scrollbar */

* {
	scrollbar-width: none !important
}
