/* Hide Sidebar header */

#sidebar-header {
  visibility: collapse !important;
}

/* Hide Personnal toolbar */

#PersonalToolbar {
  visibility: collapse !important;
}

/* Hide Navigation Bar */

#TabsToolbar {
  visibility: collapse !important;
}

#navigator-toolbox {
	margin-top: -40px;
	transition: margin-top 0.5s;
}

#navigator-toolbox:hover, #navigator-toolbox:focus-within {
	margin-top: 0px;
	transition: margin-top 0.5s;
}

/* Hide scrollbar */

*{ scrollbar-width: none !important }

