<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sidebar.css">
    <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
    <script defer src="library/sortable.js"></script>
    <script defer src="models/window-control.js"></script>
    <script defer src="models/browser-control.js"></script>
    <script defer src="models/search.js"></script>
    <script defer src="models/tabs.js"></script>
    <script defer src="models/folder.js"></script>
    <script defer src="models/dragging.js"></script>
</head>
<body>
<div class="controls">
	<div class="logo">   </div>
    <nav class="browser-control">
        <button id="previous-page"></button>
        <button id="next-page"></button>
        <button id="refresh-page"></button>
    </nav>
</div>
<div class="search">
    <input id="search-bar">
</div>
<div id="space-name" class="hidden">Elgem</div>
<div id="folder-container" class="hidden"></div>
<div id="tab-list"></div>
<template id="tab-template">
    <div class="tab" title="" data-id="" data-windowId="">
        <div class="infos">
            <img class="icon" draggable="false">
            <div data-type="name" class="name"></div>
        </div>
    </div>
</template>
<template id="folder-template">
    <div class="folder" draggable="true">
        <div class="folder-header">
            <img class="icon">
            <div data-type="name" class="name"></div>
        </div>
        <div class="folder-content hidden">

        </div>
    </div>
</template>
</body>
</html>
